from collections import defaultdict
from functools import cache
from typing import Any

from aocl.base import AoCInput
from aocl.base import Base


class Solution(Base):
    @classmethod
    def parse(cls, input_data: AoCInput) -> Any:
        return input_data.

    @classmethod
    def process_part_one(cls, parsed_input: Any, **kwargs: Any) -> int:
        raise NotImplementedError

    @classmethod
    def process_part_two(cls, parsed_input: Any, **kwargs: Any) -> int:
        raise NotImplementedError
